Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: slack-sender, slack-result-sender, github-search-pr, github-set-status, github-add-comment, git-fetch-sources, state-success, init-pipeline-github

slack-sender:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "slack-sender" "1.0"
  tags:
  - tekton-utils

slack-result-sender:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "slack-result-sender" "1.0"
  tags:
  - tekton-utils

github-search-pr:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "github-search-pr" "1.0"
  tags:
  - tekton-utils

github-set-status:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "github-set-status" "1.0"
  tags:
  - tekton-utils

github-add-comment:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "github-add-comment" "1.0"
  tags:
  - tekton-utils

git-fetch-sources:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "git-fetch-sources" "1.0"
  tags:
  - tekton-utils

state-success:
  stage: publish
  script:
  - setsid ./ci/docker-deliver.sh "state-success" "1.0"
  tags:
  - tekton-utils

init-pipeline-github:
  stage: publish-composite
  script:
  - setsid ./ci/docker-deliver.sh "init-pipeline-github" "1.0"
  tags:
  - tekton-utils

Add tekton example for state-success
  state-success/tekton-example.yaml
Due: state-success

Add a tekton example of task for Slack sender
  slack-sender/slack-sender.yaml
Due: slack-sender, init-pipeline-github

Prepare the yarn-ci task
  yarn-ci/Dockerfile
  yarn-ci/README.md
  yarn-ci/yarn-ci.sh
Due: none

Add yarn ci task
  .gitlab-ci.yml
  docker-compose.yml
  yarn-ci/yarn-ci.sh
Due: none

Add tekton example of task
  yarn-ci/yarn-ci.yaml
Due: none

Fix unknown operand
  .gitlab-ci.yml
  yarn-ci/yarn-ci.sh
Due: none

Add a tekton example for destroy-pvc task
  destroy-pvc/destroy-pvc.yaml
Due: none

Add some documentation
  README.md
Due: none

Fix: yaml indentation
  .gitlab-ci.yml
  destroy-pvc/README.md
  init-kube-config/init-kube-config.sh
Due: none

Prevent the not found pvc
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
  destroy-pvc/destroy-pvc.sh
Due: none

Add some documentations
  destroy-pvc/README.md
  github-set-status/README.md
  kaniko-build/README.md
  slack-result-sender/README.md
  slack-sender/README.md
  state-success/README.md
  yarn-ci/README.md
Due: slack-sender, slack-result-sender, github-set-status, state-success, init-pipeline-github

Add some documentations
  state-success/README.md
Due: state-success

Rename step
  destroy-pvc/destroy-pvc.yaml
Due: none

Add tekton yaml file for github add comment task
  github-add-comment/README.md
  github-add-comment/github-add-comment.yaml
Due: github-add-comment, init-pipeline-github

Add tekton example file for git-fetch-sources task
  git-fetch-sources/README.md
  git-fetch-sources/git-fetch-sources.yaml
Due: git-fetch-sources, init-pipeline-github

Add tekton example file for github-search-pr task
  README.md
  github-search-pr/README.md
  github-search-pr/github-search-pr.yaml
Due: github-search-pr

Add create webhook task
  .gitlab-ci.yml
  docker-compose.yml
  github-webhook/Dockerfile
  github-webhook/README.md
  github-webhook/create_webhook.sh
  github-webhook/github-webhook.yaml
Due: none

Fix: description of the new task
  github-webhook/README.md
Due: none

New task for x509 certificates creation
  .gitlab-ci.yml
  docker-compose.yml
  generate-certificate/Dockerfile
  generate-certificate/README.md
  generate-certificate/generate_certificate.sh
Due: none

Task for secret creation with an x509 certificate
  .gitlab-ci.yml
  docker-compose.yml
  generate-certificate/README.md
  generate-certificate/generate_certificate.sh
  kubect-secret-cert/Dockerfile
  kubect-secret-cert/README.md
  kubect-secret-cert/create_secret.sh
Due: none

Create ingress task
  .gitlab-ci.yml
  create-ingress/Dockerfile
  create-ingress/README.md
  create-ingress/create_ingress.sh
  create-ingress/ingress-service-uid.tpl.yaml
  create-ingress/ingress.tpl.yaml
  docker-compose.yml
Due: none

Add tekton example for ingress creation
  create-ingress/README.md
  create-ingress/create-ingress.yaml
Due: none

Indentation problem
  create-ingress/ingress-service-uid.tpl.yaml
  create-ingress/ingress.tpl.yaml
Due: none

Also be able to delete pods
  destroy-pods/README.md
  destroy-pods/destroy-pods.sh
Due: none

Rename task's step
  yarn-ci/yarn-ci.yaml
Due: none

Preparing php-ci task
  php-ci/README.md
  php-ci/php-ci.sh
  yarn-ci/README.md
Due: none

Add php-ci task
  .gitlab-ci.yml
  docker-compose.yml
  php-ci/Dockerfile
  php-ci/README.md
Due: none

Add tekton yaml for php-ci
  php-ci/README.md
  php-ci/php-ci.yaml
Due: none

Rename step
  php-ci/php-ci.yaml
Due: none

Rename task in the yaml
  php-ci/php-ci.yaml
Due: none

Do not set default value for args
  php-ci/Dockerfile
Due: none

Add manifest file
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: git-fetch-sources, init-pipeline-github

Add some logs
  git-fetch-sources/fetch-sources.sh
Due: git-fetch-sources, init-pipeline-github

There is no always tags on repo
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: git-fetch-sources, init-pipeline-github

New php and yarn tasks
  .gitlab-ci.yml
  docker-compose.yml
  php-checks/Dockerfile
  php-checks/README.md
  php-checks/php-checks-multiple-steps.yaml
  php-checks/php-checks-single-step.yaml
  php-checks/php-checks.sh
  yarn-checks/Dockerfile
  yarn-checks/README.md
  yarn-checks/yarn-checks-single-step.yaml
  yarn-checks/yarn-checks.sh
Due: none

Add two version of task with yarn
  yarn-checks/README.md
  yarn-checks/yarn-checks-multiple-steps.yaml
  yarn-checks/yarn-checks.sh
Due: none

Add two version of task with yarn
  yarn-checks/yarn-checks-multiple-steps.yaml
Due: none

Add default value only_install
  yarn-checks/yarn-checks-single-step.yaml
Due: none

Fix: suffix of pr env file
  .gitlab-ci.yml
  state-success/state-success.sh
Due: state-success

Fix: some yaml errors
  slack-sender/slack-sender.yaml
Due: slack-sender, init-pipeline-github

Path conditions:
  slack-sender: any of: slack-sender/*
  slack-result-sender: any of: slack-result-sender/*
  github-search-pr: any of: github-search-pr/*
  github-set-status: any of: github-set-status/*
  github-add-comment: any of: github-add-comment/*
  git-fetch-sources: any of: git-fetch-sources/*
  state-success: any of: state-success/*
  init-pipeline-github: any of: init-pipeline-github/*, git-fetch-sources/*, github-add-comment/*, github-set-status/*, slack-sender/*
