Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-pipeline-github, yarn-ci-node14, yarn-ci-node12, destroy-pvc, destroy-pods, kaniko-build, slack-sender, slack-result-sender, github-search-pr, github-set-status, github-add-comment, github-webhook, generate-certificate, git-fetch-sources, state-success

.gitlab-ci.yml:

stages:
  - mirror
  - publish

github-mirror:
  stage: mirror
  script:
    - setsid ./ci/github-mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - tekton-utils

init-pipeline-github:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "init-pipeline-github" "1.6"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-pipeline-github/*
      - git-fetch-sources/*
      - github-add-comment/*
      - github-set-status/*
      - slack-sender/*
  tags:
    - tekton-utils

yarn-ci-node14:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node14" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

yarn-ci-node12:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node12" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

destroy-pvc:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pvc" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pvc/*
  tags:
    - tekton-utils

destroy-pods:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pods" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pods/*
  tags:
    - tekton-utils

kaniko-build:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "kaniko-build" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - kaniko-build/*
  tags:
    - tekton-utils

slack-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-sender" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-sender/*
  tags:
    - tekton-utils

slack-result-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-result-sender" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-result-sender/*
  tags:
    - tekton-utils

github-search-pr:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-search-pr" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-search-pr/*
  tags:
    - tekton-utils

github-set-status:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-set-status" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-set-status/*
  tags:
    - tekton-utils

github-add-comment:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-add-comment" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-add-comment/*
  tags:
    - tekton-utils

github-webhook:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-webhook" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-webhook/*
  tags:
    - tekton-utils

generate-certificate:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "generate-certificate" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - generate-certificate/*
  tags:
    - tekton-utils

git-fetch-sources:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "git-fetch-sources" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - git-fetch-sources/*
  tags:
    - tekton-utils

state-success:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "state-success" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - state-success/*
  tags:
    - tekton-utils

Fix: rename some steps
  php-checks/php-checks-single-step.yaml
  yarn-checks/yarn-checks-multiple-steps.yaml
  yarn-checks/yarn-checks-single-step.yaml
Due: none

Add a task in order to kill redundant pipelines
  .gitlab-ci.yml
  docker-compose.yml
  kill-redundant-pipelines/Dockerfile
  kill-redundant-pipelines/README.md
  kill-redundant-pipelines/kill-redundant-pipelines.sh
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

Be able to destroy the associated pvc
  docker-compose.yml
  kill-redundant-pipelines/README.md
  kill-redundant-pipelines/kill-redundant-pipelines.sh
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

Bad task name
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

Git branch name
  kill-redundant-pipelines/README.md
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

fix: name of image
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

Fix: use the right kubeconfig
  .gitlab-ci.yml
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: none

Exit 0 at the end
  .gitlab-ci.yml
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: none

Add new task init-pipeline-github that also kill redundant pipelines
  init-pipeline-github-with-kill/init-pipeline-github-with-kill.yaml
Due: none

Init internal catalog of tekton tasks
  .gitlab-ci.yml
  ci/github-internal-mirror.sh
Due: none

Init internal catalog of tekton tasks
  ci/github-internal-mirror.sh
Due: none

Add composite task to end the pipeline
  .gitlab-ci.yml
  docker-compose.yml
  end-pipeline-github/Dockerfile
  end-pipeline-github/README.md
  end-pipeline-github/end-pipeline.sh
  end-pipeline-github/end-pipeline.yaml
Due: none

Fix: missing kubectl dependancy
  docker-compose.yml
  end-pipeline-github/Dockerfile
Due: none

Fix: missing kubectl dependancy
  end-pipeline-github/Dockerfile
Due: none

Fix: yaml of the task
  end-pipeline-github/end-pipeline.yaml
Due: none

Fix: yaml of the task
  end-pipeline-github/end-pipeline-github.yaml
Due: none

Remove duplicate parameter
  end-pipeline-github/end-pipeline-github.yaml
Due: none

Remove duplicate parameter
  end-pipeline-github/README.md
  end-pipeline-github/end-pipeline-github.yaml
  end-pipeline-github/end-pipeline.sh
Due: none

Typo parameter username
  end-pipeline-github/end-pipeline-github.yaml
  end-pipeline-github/end-pipeline.sh
Due: none

Upgrade documentation
  end-pipeline-github/README.md
Due: none

Fix: name of image
  end-pipeline-github/end-pipeline-github.yaml
Due: none

Do not destroy pvc at the end (it's handled by the pipelineruns delete)
  .gitlab-ci.yml
  end-pipeline-github/Dockerfile
  end-pipeline-github/README.md
  end-pipeline-github/end-pipeline-github.yaml
Due: none

Do not destroy pvc at the end (it's handled by the pipelineruns delete)
  end-pipeline-github/end-pipeline.sh
Due: none

Fix missing blank and return code
  .gitlab-ci.yml
  php-checks/php-checks.sh
  yarn-checks/yarn-checks.sh
Due: none

Change the success task to become an end task
  php-checks/php-checks-multiple-steps.yaml
  php-checks/php-checks-single-step.yaml
  state-success/README.md
  state-success/success.yaml
  yarn-checks/yarn-checks-multiple-steps.yaml
  yarn-checks/yarn-checks-single-step.yaml
Due: state-success

Fix: useless parameters
  end-pipeline-github/end-pipeline-github.yaml
  state-success/success.yaml
Due: state-success

Improve size of some images
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  docker-compose.yml
  end-pipeline-github/end-pipeline.sh
  kill-redundant-pipelines/Dockerfile
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: destroy-pvc, destroy-pods

Improve size of some images
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  kill-redundant-pipelines/Dockerfile
Due: destroy-pvc, destroy-pods

Fix: hostname for the state success task
  .gitlab-ci.yml
  state-success/state-success.sh
Due: state-success

Fix: hostname file
  .gitlab-ci.yml
  github-search-pr/search.sh
  github-set-status/set-status.py
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, slack-result-sender, github-search-pr, github-set-status

Fix multistage build
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  kill-redundant-pipelines/Dockerfile
Due: destroy-pvc, destroy-pods

Add some logs
  github-set-status/set-status.py
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, slack-result-sender, github-set-status

Replace multistage build with curl
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  docker-compose.yml
  kill-redundant-pipelines/Dockerfile
Due: destroy-pvc, destroy-pods

Add a kubectl image
  .gitlab-ci.yml
  docker-compose.yml
  kubectl/Dockerfile
Due: none

Add readme for kubectl image
  kubectl/Dockerfile
  kubectl/README.md
Due: none

Add readme for kubectl image
  docker-compose.yml
  kubectl/README.md
Due: none

Missing package
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  kill-redundant-pipelines/Dockerfile
  kubectl/Dockerfile
Due: destroy-pvc, destroy-pods

Fix: use an environment variable instead of args
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  docker-compose.yml
  kill-redundant-pipelines/Dockerfile
Due: destroy-pvc, destroy-pods
