Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-pipeline, init-pipeline-github, end-pipeline-github, yaml-merge, yaml-patch, php-checks-7-4, yarn-checks-node14, yarn-checks-node12, kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods, kaniko-build, kubectl, slack-sender, slack-result-sender, github-search-pr, github-open-pr, github-bump-pr, github-set-status, github-add-comment, github-webhook, generate-certificate, kubectl-secret-cert, create-ingress, git-fetch-sources, git-push-changes, state-success

Path conditions:
  init-pipeline: any of: init-pipeline/*, git-fetch-sources/*, slack-sender/*
  init-pipeline-github: any of: init-pipeline-github/*, git-fetch-sources/*, github-add-comment/*, github-set-status/*, github-search-pr/*, slack-sender/*
  end-pipeline-github: any of: end-pipeline-github/*, slack-result-sender/*, github-set-status/*
  yaml-merge: any of: yaml-merge/*
  yaml-patch: any of: yaml-patch/*
  php-checks-7-4: any of: php-checks/*
  yarn-checks-node14: any of: yarn-checks/*
  yarn-checks-node12: any of: yarn-checks/*
  kill-redundant-pipelines: any of: init-kube-config/*, kill-redundant-pipelines/*
  clean-old-pipelines: any of: init-kube-config/*, slack-sender/*, clean-old-pipelines/*
  destroy-pvc: any of: init-kube-config/*, destroy-pvc/*
  destroy-pods: any of: init-kube-config/*, destroy-pods/*
  kaniko-build: any of: kaniko-build/*
  kubectl: any of: kubectl/*
  slack-sender: any of: slack-sender/*
  slack-result-sender: any of: slack-result-sender/*
  github-search-pr: any of: github-search-pr/*
  github-open-pr: any of: github-open-pr/*
  github-bump-pr: any of: github-open-pr/*, github-bump-pr/*, git-push-changes/*, yaml-patch/*
  github-set-status: any of: github-set-status/*
  github-add-comment: any of: github-add-comment/*
  github-webhook: any of: github-webhook/*
  generate-certificate: any of: generate-certificate/*
  kubectl-secret-cert: any of: kubectl-secret-cert/*
  create-ingress: any of: create-ingress/*
  git-fetch-sources: any of: git-fetch-sources/*
  git-push-changes: any of: git-push-changes/*
  state-success: any of: state-success/*

Change the wording of logs
  .gitlab-ci.yml
  yarn-checks/yarn-checks.sh
Due: yarn-checks-node14, yarn-checks-node12

Add manifest in the slack payload
  .gitlab-ci.yml
  init-pipeline-github/init-pipeline.sh
  init-pipeline/init-pipeline.sh
Due: init-pipeline, init-pipeline-github

Improve slack start message
  .gitlab-ci.yml
  init-pipeline-github/Dockerfile
  init-pipeline-github/init-pipeline.sh
  init-pipeline/Dockerfile
  init-pipeline/init-pipeline.sh
  slack-start-pipeline/slack-start.sh
Due: init-pipeline, init-pipeline-github

Implementing rollout mode
  .gitlab-ci.yml
  destroy-pods/README.md
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Multi-env implementation
  .gitlab-ci.yml
  destroy-pods/README.md
  init-kube-config/init-kube-config.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Add multi-env mode for destroying pvc
  .gitlab-ci.yml
  destroy-pvc/README.md
Due: destroy-pvc

Improve documentation
  .gitlab-ci.yml
  destroy-pods/README.md
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Add a tekton example
  destroy-pods/README.md
  destroy-pods/destroy-pods.yaml
Due: destroy-pods

Add a tekton example
  destroy-pods/destroy-pods.yaml
Due: destroy-pods

Fix: export
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
Due: destroy-pods

rollout deployments
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Fix: rollout command
  .gitlab-ci.yml
  destroy-pods/Dockerfile
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Fix: rollout command
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Add exit ok
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Add mirror
  .gitlab-ci.yml
  README.md
  ci/github-internal-mirror.sh
  ci/mirror.sh
Due: none

New kubeconfig compatible without rancher
  .gitlab-ci.yml
  clean-old-pipelines/README.md
  destroy-pods/README.md
  destroy-pvc/README.md
  init-kube-config/init-kube-config.sh
  kill-redundant-pipelines/README.md
  pipeline-api/README.md
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

New kubeconfig compatible without rancher
  clean-old-pipelines/Dockerfile
  destroy-pvc/Dockerfile
  init-kube-config/init-kube-config.sh
  kill-redundant-pipelines/Dockerfile
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

New kubeconfig compatible without rancher
  clean-old-pipelines/README.md
  destroy-pods/README.md
  destroy-pvc/README.md
  init-kube-config/init-kube-config.sh
  kill-redundant-pipelines/README.md
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Remove branch after merging and right label on the pr
  .gitlab-ci.yml
  github-bump-pr/README.md
  github-bump-pr/bump.sh
  github-bump-pr/myproject-bump.yaml
Due: github-bump-pr

Adding some logs and more robust when variable doesn't exists
  .gitlab-ci.yml
  github-bump-pr/bump.sh
Due: github-bump-pr

export doesn't apply in a subshell
  .gitlab-ci.yml
  github-bump-pr/bump.sh
  yaml-patch/yaml-patch.sh
Due: yaml-patch, github-bump-pr

Refactoring
  kaniko-build/build.sh
Due: kaniko-build

Improve bump in order to be able to enable only if the expected branch name is matching
  .gitlab-ci.yml
  github-bump-pr/README.md
  github-bump-pr/bump.sh
Due: github-bump-pr

Add ppd branch
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
  github-bump-pr/bump.sh
  init-kube-config/init-kube-config.sh
  kaniko-build/build.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods, kaniko-build, github-bump-pr

Also comply with 'preprod'
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
  github-bump-pr/bump.sh
  init-kube-config/init-kube-config.sh
  kaniko-build/build.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods, kaniko-build, github-bump-pr

Fix: preprod instead of ppd
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Fix: missing bracket
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Fix remove instruction
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
  init-pipeline-github/init-pipeline.sh
Due: init-pipeline-github, kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Add some logs to init-kube-config task
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Fix indent problem
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Update php-checks.sh
  php-checks/php-checks.sh
Due: php-checks-7-4

Upgrade kaniko
  .gitlab-ci.yml
  docker-compose.yml
  kaniko-build/Dockerfile
Due: kaniko-build

Upgrade kaniko
  .gitlab-ci.yml
  kaniko-build/Dockerfile
Due: kaniko-build

Fix: do not delete the branch when automerge is disabled
  .gitlab-ci.yml
  github-bump-pr/bump.sh
Due: github-bump-pr

Fix: do not delete the branch when automerge is disabled
  github-bump-pr/bump.sh
Due: github-bump-pr

Add git_branch in order to avoid conflicts when the same tags exists on two branches
  .gitlab-ci.yml
  github-bump-pr/bump.sh
Due: github-bump-pr

Fix: bug pr filename
  .gitlab-ci.yml
  github-search-pr/search.sh
Due: init-pipeline-github, github-search-pr

Fix: bug pr filename
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Fix: bug pr filename
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
  github-open-pr/open.sh
  state-success/state-success.sh
Due: init-pipeline, init-pipeline-github, github-open-pr, github-bump-pr, git-fetch-sources, state-success

Add default version number when the tags are not rightly used
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
  github-bump-pr/bump.sh
Due: init-pipeline, init-pipeline-github, github-bump-pr, git-fetch-sources
