Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-pipeline-github, yarn-ci-node14, yarn-ci-node12, destroy-pvc, destroy-pods, kaniko-build, slack-sender, slack-result-sender, github-search-pr, github-set-status, github-add-comment, github-webhook, generate-certificate, git-fetch-sources, state-success

.gitlab-ci.yml:

stages:
  - mirror
  - publish

github-mirror:
  stage: mirror
  script:
    - setsid ./ci/github-mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - tekton-utils

init-pipeline-github:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "init-pipeline-github" "1.6"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-pipeline-github/*
      - git-fetch-sources/*
      - github-add-comment/*
      - github-set-status/*
      - slack-sender/*
  tags:
    - tekton-utils

yarn-ci-node14:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node14" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

yarn-ci-node12:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node12" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

destroy-pvc:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pvc" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pvc/*
  tags:
    - tekton-utils

destroy-pods:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pods" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pods/*
  tags:
    - tekton-utils

kaniko-build:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "kaniko-build" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - kaniko-build/*
  tags:
    - tekton-utils

slack-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-sender" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-sender/*
  tags:
    - tekton-utils

slack-result-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-result-sender" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-result-sender/*
  tags:
    - tekton-utils

github-search-pr:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-search-pr" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-search-pr/*
  tags:
    - tekton-utils

github-set-status:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-set-status" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-set-status/*
  tags:
    - tekton-utils

github-add-comment:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-add-comment" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-add-comment/*
  tags:
    - tekton-utils

github-webhook:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-webhook" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-webhook/*
  tags:
    - tekton-utils

generate-certificate:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "generate-certificate" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - generate-certificate/*
  tags:
    - tekton-utils

git-fetch-sources:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "git-fetch-sources" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - git-fetch-sources/*
  tags:
    - tekton-utils

state-success:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "state-success" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - state-success/*
  tags:
    - tekton-utils

Fix: use an environment variable instead of args
  .gitlab-ci.yml
  kubectl/Dockerfile
Due: none

Fix: use an environment variable instead of args
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  kill-redundant-pipelines/Dockerfile
  kubectl/Dockerfile
Due: destroy-pvc, destroy-pods

Fix: curl kubectl
  kubectl/Dockerfile
Due: none

Fix: curl kubectl
  destroy-pods/Dockerfile
  destroy-pvc/Dockerfile
  kill-redundant-pipelines/Dockerfile
Due: destroy-pvc, destroy-pods

Use sh instead of bash
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
Due: destroy-pvc, destroy-pods

Use sh instead of bash
  .gitlab-ci.yml
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Missing jq
  .gitlab-ci.yml
  kill-redundant-pipelines/Dockerfile
Due: none

Use sh instead of bash
  .gitlab-ci.yml
  state-success/state-success.sh
Due: state-success

sh syntax instead of bash
  destroy-pods/destroy-pods.sh
Due: destroy-pods

Add some logs
  .gitlab-ci.yml
  github-set-status/set-status.py
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, slack-result-sender, github-set-status

Bad copy to remove
  .gitlab-ci.yml
  end-pipeline-github/Dockerfile
Due: none

Default env file even if there is no opened pr
  .gitlab-ci.yml
  github-search-pr/search.sh
  github-set-status/set-status.py
Due: init-pipeline-github, github-search-pr, github-set-status

Add more logs
  .gitlab-ci.yml
  github-set-status/set-status.py
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, slack-result-sender, github-set-status

sh instead of bash
  .gitlab-ci.yml
  github-set-status/set-status.py
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, slack-result-sender, github-set-status

fix loglevel
  .gitlab-ci.yml
  github-set-status/set-status.py
Due: init-pipeline-github, github-set-status

Add clean old pipelines image
  .gitlab-ci.yml
  clean-old-pipelines/Dockerfile
  clean-old-pipelines/README.md
  clean-old-pipelines/clean_old_pipelines.sh
  clean-old-pipelines/configmap.yaml
  clean-old-pipelines/deployment.yaml
  docker-compose.yml
Due: none

Add slack notifications
  .gitlab-ci.yml
  clean-old-pipelines/Dockerfile
  clean-old-pipelines/README.md
  clean-old-pipelines/clean_old_pipelines.sh
  clean-old-pipelines/configmap.yaml
  clean-old-pipelines/deployment.yaml
Due: none

Fix: rename script
  clean-old-pipelines/clean-old-pipelines.sh
Due: none

Yaml syntax example
  clean-old-pipelines/configmap.yaml
Due: none

Missing copy
  clean-old-pipelines/Dockerfile
Due: none

Fix: log message
  clean-old-pipelines/clean-old-pipelines.sh
Due: none

Improve log message
  clean-old-pipelines/clean-old-pipelines.sh
Due: none

Use the tkn command when it's possible
  .gitlab-ci.yml
  kill-redundant-pipelines/Dockerfile
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: none

Remove sudo
  kill-redundant-pipelines/Dockerfile
Due: none

Revert "Remove sudo"
  kill-redundant-pipelines/Dockerfile
Due: none

Revert "Use the tkn command when it's possible"
  .gitlab-ci.yml
  kill-redundant-pipelines/Dockerfile
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: none

Add tkn task test
  .gitlab-ci.yml
  docker-compose.yml
  tkn-test/Dockerfile
  tkn-test/tkn-test.sh
  tkn-test/tkn-test.yaml
Due: none

Add tkn task test
  tkn-test/Dockerfile
Due: none

Fix: missing curl dependancy
  tkn-test/Dockerfile
Due: none

Remove sudo
  tkn-test/Dockerfile
Due: none

Remove useless mv command
  tkn-test/Dockerfile
Due: none

Add exec right
  .gitlab-ci.yml
  tkn-test/Dockerfile
  tkn-test/tkn-test.sh
  tkn-test/tkn-test.yaml
Due: none

Revert tkn-test
  .gitlab-ci.yml
  docker-compose.yml
  tkn-test/Dockerfile
  tkn-test/tkn-test.sh
  tkn-test/tkn-test.yaml
Due: none

Revert "Revert tkn-test"
  .gitlab-ci.yml
  docker-compose.yml
  tkn-test/Dockerfile
  tkn-test/tkn-test.sh
  tkn-test/tkn-test.yaml
Due: none

Revert "Revert "Revert tkn-test""
  .gitlab-ci.yml
  docker-compose.yml
  tkn-test/Dockerfile
  tkn-test/tkn-test.sh
  tkn-test/tkn-test.yaml
Due: none

Cancel pipelinerun instead of delete
  .gitlab-ci.yml
  kill-redundant-pipelines/Dockerfile
  kill-redundant-pipelines/kill-redundant-pipelines.sh
Due: none

Do not destroy pvc anymore
  .gitlab-ci.yml
  init-pipeline-github-with-kill/init-pipeline-github-with-kill.yaml
  kill-redundant-pipelines/README.md
  kill-redundant-pipelines/kill-redundant-pipelines.sh
  kill-redundant-pipelines/kill-redundant-pipelines.yaml
Due: none

Add some informations to the manifest file
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: init-pipeline-github, git-fetch-sources

Prepare yaml patch task
  yaml-patch/README.md
  yaml-patch/yaml-patch.py
Due: none

Change pvc regexp
  .gitlab-ci.yml
  clean-old-pipelines/clean-old-pipelines.sh
Due: none
