Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-pipeline-github, yarn-ci-node14, yarn-ci-node12, destroy-pvc, destroy-pods, kaniko-build, slack-sender, slack-result-sender, github-search-pr, github-set-status, github-add-comment, github-webhook, generate-certificate, git-fetch-sources, state-success

.gitlab-ci.yml:

stages:
  - mirror
  - publish

github-mirror:
  stage: mirror
  script:
    - setsid ./ci/github-mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - tekton-utils

init-pipeline-github:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "init-pipeline-github" "1.6"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-pipeline-github/*
      - git-fetch-sources/*
      - github-add-comment/*
      - github-set-status/*
      - slack-sender/*
  tags:
    - tekton-utils

yarn-ci-node14:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node14" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

yarn-ci-node12:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "yarn-ci-node12" "1.1"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - yarn-ci/*
  tags:
    - tekton-utils

destroy-pvc:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pvc" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pvc/*
  tags:
    - tekton-utils

destroy-pods:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "destroy-pods" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - init-kube-config/*
      - destroy-pods/*
  tags:
    - tekton-utils

kaniko-build:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "kaniko-build" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - kaniko-build/*
  tags:
    - tekton-utils

slack-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-sender" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-sender/*
  tags:
    - tekton-utils

slack-result-sender:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "slack-result-sender" "1.2"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - slack-result-sender/*
  tags:
    - tekton-utils

github-search-pr:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-search-pr" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-search-pr/*
  tags:
    - tekton-utils

github-set-status:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-set-status" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-set-status/*
  tags:
    - tekton-utils

github-add-comment:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-add-comment" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-add-comment/*
  tags:
    - tekton-utils

github-webhook:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "github-webhook" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - github-webhook/*
  tags:
    - tekton-utils

generate-certificate:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "generate-certificate" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - generate-certificate/*
  tags:
    - tekton-utils

git-fetch-sources:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "git-fetch-sources" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - git-fetch-sources/*
  tags:
    - tekton-utils

state-success:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "state-success" "1.0"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - state-success/*
  tags:
    - tekton-utils

Fix: workspace name
  github-bump-pr/Dockerfile
Due: none

Add more control and fix yq expr
  .gitlab-ci.yml
  git-push-changes/git-push-changes.sh
  github-bump-pr/bump.sh
  github-bump-pr/fetch.sh
  github-bump-pr/reverse_branches.sh
Due: none

Fix reverse branches
  .gitlab-ci.yml
  git-push-changes/git-push-changes.sh
  github-bump-pr/Dockerfile
  github-bump-pr/bump.sh
  github-bump-pr/fetch.sh
  github-bump-pr/reverse_branches.sh
Due: none

Fix: missing space
  .gitlab-ci.yml
  github-bump-pr/fetch.sh
Due: none

Test fetch unshallow to get the tags
  .gitlab-ci.yml
  github-bump-pr/fetch.sh
Due: none

Retreive the tag in the right repository
  .gitlab-ci.yml
  github-bump-pr/bump.sh
  github-bump-pr/fetch.sh
Due: none

Retreive the tag in the right repository
  github-bump-pr/myproject-bump.yaml
Due: none

Retreive the tag in the right repository
  .gitlab-ci.yml
  github-bump-pr/fetch.sh
Due: none

Fix: reverse branches
  .gitlab-ci.yml
  github-bump-pr/bump.sh
  github-open-pr/open.sh
Due: none

Add email and name to the commit
  .gitlab-ci.yml
  git-push-changes/git-push-changes.sh
Due: none

Add email and name to the commit
  git-push-changes/README.md
  git-push-changes/git-push-changes.sh
Due: none

Stash change before checkout another branch
  .gitlab-ci.yml
  git-push-changes/git-push-changes.sh
  github-open-pr/open.sh
Due: none

Fix: push changes
  .gitlab-ci.yml
  git-push-changes/git-push-changes.sh
Due: none

Add a commit message
  .gitlab-ci.yml
  github-bump-pr/bump.sh
Due: none

Handle return code of curl
  github-bump-pr/bump.sh
  github-open-pr/open.sh
Due: none

Handle return code of curl
  .gitlab-ci.yml
  github-bump-pr/README.md
Due: none

Add version from git tag in the fetch task
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: init-pipeline-github, git-fetch-sources

Improve image to be able to tag versions
  .gitlab-ci.yml
  docker-compose.yml
  kaniko-build/Dockerfile
  kaniko-build/README.md
  kaniko-build/build-container-image.yaml
  kaniko-build/build.sh
Due: kaniko-build

Increase the cache ttl
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Fix: environment variables name
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Add a flag
  .gitlab-ci.yml
  kaniko-build/README.md
  kaniko-build/build-container-image.yaml
  kaniko-build/build.sh
Due: kaniko-build

Missing bracket
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Missing cache ttl
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Missing environment variables
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Missing extra args
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Rename environment variable
  kaniko-build/build-container-image.yaml
Due: kaniko-build

Auto-merge implementation
  .gitlab-ci.yml
  github-bump-pr/Dockerfile
  github-bump-pr/README.md
  github-open-pr/Dockerfile
  github-open-pr/README.md
  github-open-pr/open.sh
Due: none

Auto-merge implementation
  github-bump-pr/myproject-bump.yaml
Due: none

Fix: auto-merge using search api
  .gitlab-ci.yml
  github-open-pr/open.sh
Due: none

More robust auto-merge
  .gitlab-ci.yml
  github-open-pr/open.sh
Due: none

Missing $
  .gitlab-ci.yml
  github-open-pr/open.sh
Due: none

Fix: use the right id
  .gitlab-ci.yml
  github-open-pr/open.sh
Due: none

Fix: some tasks
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
  github-open-pr/open.sh
Due: init-pipeline-github, git-fetch-sources

Rename slack user
  .gitlab-ci.yml
  init-pipeline-github/init-pipeline.sh
  init-pipeline/init-pipeline.sh
Due: init-pipeline-github

Have the sha log everytime (loglevel info)
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: init-pipeline-github, git-fetch-sources

Fix: multienv case
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Fix: missing brackets
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
Due: init-pipeline-github, git-fetch-sources

Improve logs
  .gitlab-ci.yml
  github-search-pr/search.sh
  kaniko-build/build.sh
Due: kaniko-build, github-search-pr

Fix: regressions with versioning
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Change the wording of logs
  .gitlab-ci.yml
  php-checks/php-checks.sh
Due: none
