Repository idrissneumann/tekton-task-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init-pipeline, init-pipeline-github, end-pipeline-github, yaml-merge, yaml-patch, php-checks-7-4, yarn-checks-node14, yarn-checks-node12, kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods, kaniko-build, kubectl, slack-sender, slack-result-sender, github-search-pr, github-open-pr, github-bump-pr, github-set-status, github-add-comment, github-webhook, generate-certificate, kubectl-secret-cert, create-ingress, git-fetch-sources, git-push-changes, state-success

Path conditions:
  init-pipeline: any of: init-pipeline/*, git-fetch-sources/*, slack-sender/*
  init-pipeline-github: any of: init-pipeline-github/*, git-fetch-sources/*, github-add-comment/*, github-set-status/*, github-search-pr/*, slack-sender/*
  end-pipeline-github: any of: end-pipeline-github/*, slack-result-sender/*, github-set-status/*
  yaml-merge: any of: yaml-merge/*
  yaml-patch: any of: yaml-patch/*
  php-checks-7-4: any of: php-checks/*
  yarn-checks-node14: any of: yarn-checks/*
  yarn-checks-node12: any of: yarn-checks/*
  kill-redundant-pipelines: any of: init-kube-config/*, kill-redundant-pipelines/*
  clean-old-pipelines: any of: init-kube-config/*, slack-sender/*, clean-old-pipelines/*
  destroy-pvc: any of: init-kube-config/*, destroy-pvc/*
  destroy-pods: any of: init-kube-config/*, destroy-pods/*
  kaniko-build: any of: kaniko-build/*
  kubectl: any of: kubectl/*
  slack-sender: any of: slack-sender/*
  slack-result-sender: any of: slack-result-sender/*
  github-search-pr: any of: github-search-pr/*
  github-open-pr: any of: github-open-pr/*
  github-bump-pr: any of: github-open-pr/*, github-bump-pr/*, git-push-changes/*, yaml-patch/*
  github-set-status: any of: github-set-status/*
  github-add-comment: any of: github-add-comment/*
  github-webhook: any of: github-webhook/*
  generate-certificate: any of: generate-certificate/*
  kubectl-secret-cert: any of: kubectl-secret-cert/*
  create-ingress: any of: create-ingress/*
  git-fetch-sources: any of: git-fetch-sources/*
  git-push-changes: any of: git-push-changes/*
  state-success: any of: state-success/*

Add default version number when the tags are not rightly used
  .gitlab-ci.yml
Due: none

Add default version number when the tags are not rightly used
  github-bump-pr/bump.sh
Due: github-bump-pr

Fix: get the rigth env files names
  .gitlab-ci.yml
  docker-compose.yml
  env-files-utils/env_files_utils.sh
  git-fetch-sources/Dockerfile
  git-fetch-sources/fetch-sources.sh
  github-open-pr/Dockerfile
  github-open-pr/open.sh
  github-search-pr/Dockerfile
  github-search-pr/search.sh
  kaniko-build/Dockerfile
  kaniko-build/build.sh
  state-success/Dockerfile
  state-success/state-success.sh
Due: init-pipeline, init-pipeline-github, kaniko-build, github-search-pr, github-open-pr, github-bump-pr, git-fetch-sources, state-success

Missing copies
  .gitlab-ci.yml
  github-open-pr/Dockerfile
  init-pipeline-github/Dockerfile
  init-pipeline/Dockerfile
Due: init-pipeline, init-pipeline-github, github-open-pr, github-bump-pr

Fix: bad file names
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
  github-open-pr/open.sh
  github-search-pr/search.sh
  init-pipeline-github/Dockerfile
  kaniko-build/build.sh
  state-success/state-success.sh
Due: init-pipeline, init-pipeline-github, kaniko-build, github-search-pr, github-open-pr, github-bump-pr, git-fetch-sources, state-success

Fix: version from tags
  .gitlab-ci.yml
  git-fetch-sources/Dockerfile
  git-fetch-sources/fetch-sources.sh
  github-bump-pr/Dockerfile
  github-bump-pr/bump.sh
  init-pipeline-github/Dockerfile
  init-pipeline/Dockerfile
  version-utils/versions_utils.sh
Due: init-pipeline, init-pipeline-github, github-bump-pr, git-fetch-sources

Fix: missing files
  .gitlab-ci.yml
  github-bump-pr/Dockerfile
  init-pipeline-github/Dockerfile
Due: init-pipeline-github, github-bump-pr

Rename file
  .gitlab-ci.yml
  version-utils/version_utils.sh
Due: none

Force rebuild all images
  .gitlab-ci.yml
  env-files-utils/env_files_utils.sh
  init-pipeline-github/Dockerfile
  version-utils/version_utils.sh
Due: init-pipeline-github

Force rebuild all images
  git-fetch-sources/Dockerfile
  git-fetch-sources/fetch-sources.sh
  github-bump-pr/Dockerfile
Due: init-pipeline, init-pipeline-github, github-bump-pr, git-fetch-sources

Add some logs
  .gitlab-ci.yml
  github-search-pr/search.sh
  kaniko-build/build.sh
Due: init-pipeline-github, kaniko-build, github-search-pr

Add some logs
  kaniko-build/Dockerfile
Due: kaniko-build

Fix: copy file
  state-success/Dockerfile
  state-success/README.md
Due: state-success

Fix: remove special chars branch
  .gitlab-ci.yml
  version-utils/version_utils.sh
Due: none

Improve get pr files
  .gitlab-ci.yml
  docker-compose.yml
  end-pipeline-github/Dockerfile
  env-files-utils/env_files_utils.py
  github-set-status/Dockerfile
  github-set-status/set-status.py
  slack-result-sender/Dockerfile
  slack-result-sender/slack-result-sender.py
Due: init-pipeline-github, end-pipeline-github, slack-result-sender, github-set-status

Use one way to find the pr env file using python scripts
  .gitlab-ci.yml
  docker-compose.yml
  github-add-comment/Dockerfile
  github-add-comment/add-comment.py
Due: init-pipeline-github, github-add-comment

Use one way to find the pr env file using python scripts
  .gitlab-ci.yml
  init-pipeline-github/Dockerfile
Due: init-pipeline-github

Improve: add logs and default last commit
  .gitlab-ci.yml
  env-files-utils/env_files_utils.py
  git-fetch-sources/fetch-sources.sh
  github-search-pr/search.sh
  slack-result-sender/slack-result-sender.py
Due: init-pipeline, init-pipeline-github, end-pipeline-github, slack-result-sender, github-search-pr, git-fetch-sources

Do not use versioning when it's unstable
  .gitlab-ci.yml
  kaniko-build/build.sh
  version-utils/version_utils.sh
Due: kaniko-build

Add more resilience when hostname is not matching a uuid correctly
  .gitlab-ci.yml
  env-files-utils/env_files_utils.py
Due: none

Redeliver end-pipeline image
  .gitlab-ci.yml
  end-pipeline-github/README.md
Due: end-pipeline-github

Redeliver end-pipeline image
  .gitlab-ci.yml
  init-pipeline-github/README.md
Due: init-pipeline-github

Improve deleting resources
  .gitlab-ci.yml
  clean-old-pipelines/README.md
  clean-old-pipelines/clean-old-pipelines.sh
Due: clean-old-pipelines

Use a regexp instead of a strict comparizon
  .gitlab-ci.yml
  clean-old-pipelines/clean-old-pipelines.sh
Due: clean-old-pipelines

Fix: pick the right branch
  .gitlab-ci.yml
  github-bump-pr/bump.sh
  github-bump-pr/fetch.sh
Due: github-bump-pr

Add git sync-branch image
  .gitlab-ci.yml
  docker-compose.yml
  git-sync-branch/Dockerfile
  git-sync-branch/sync.sh
Due: none

Add git sync-branch image
  git-sync-branch/README.md
  git-sync-branch/sync.sh
Due: none

Remove useless task and improve documentation
  .gitlab-ci.yml
  docker-compose.yml
  git-sync-branch/Dockerfile
  git-sync-branch/README.md
  git-sync-branch/sync.sh
  github-bump-pr/README.md
Due: github-bump-pr

Improve mirroring
  .gitlab-ci.yml
  ci/github-internal-mirror.sh
  ci/mirror.sh
Due: none

Fix: revert condition to exclude pattern
  .gitlab-ci.yml
  clean-old-pipelines/clean-old-pipelines.sh
Due: clean-old-pipelines

Add retry option
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Improve documentation
  kaniko-build/README.md
Due: kaniko-build

Do not override KUBE_CERTIFICATE with empty value
  .gitlab-ci.yml
  init-kube-config/init-kube-config.sh
Due: kill-redundant-pipelines, clean-old-pipelines, destroy-pvc, destroy-pods

Fix: be able to build tag from a specified tag and dynamic version
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Add coreutils
  .gitlab-ci.yml
  kaniko-build/Dockerfile
Due: kaniko-build

Fix: do not concate the IMAGE_TAG if the value is latest
  .gitlab-ci.yml
  kaniko-build/build.sh
Due: kaniko-build

Add quoting variables to ensure no char disappears
  .gitlab-ci.yml
  github-bump-pr/bump.sh
Due: github-bump-pr

Add quoting variables to ensure no char disappears
  .gitlab-ci.yml
  version-utils/version_utils.sh
Due: none

Add quoting variables to ensure no char disappears
  github-bump-pr/bump.sh
  version-utils/version_utils.sh
Due: github-bump-pr

Fix: specify the number of digit of the sha you want to get
  .gitlab-ci.yml
  git-fetch-sources/fetch-sources.sh
  version-utils/version_utils.sh
Due: init-pipeline, init-pipeline-github, git-fetch-sources
